@import 'nav';
@import 'home';
@import 'var';
@import 'text';
@import 'sbaglio';
@import 'aiuto';
@import 'servizi';
@import 'cta';
@import 'footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    color: $sec-col;
}

.onda{
    width: 100%;
    height: 150px;
    background-image: url(../assets/img/onda.png);
    background-size: cover;
    overflow-x: hidden;
}